footer {
  align-items: center;
  background: #8A7C87;
  background: -webkit-linear-gradient(270deg, $blue-gray, lighten($blue-gray, 10%));
  background: linear-gradient(270deg, $blue-gray, lighten($blue-gray, 10%));
  color: $white;
  display: flex;
  padding: 3rem 0;
  position: relative;
  text-align: center;

  @media #{$medium} {
    padding: 12rem 0;
  }
}


// Footer Elements
.footer__title {
  color: $white;
  font-size: 1rem;
  font-weight: $regular;
  margin-bottom: 3rem;
  text-align: center;

  @media #{$medium} {
    font-size: 1.25rem;
  }
}

.footer__icon {
  margin: 0 auto;
  width: 35px;
}
